$moncerrat:   'Montserrat', sans-serif;

.users-statistics {
.row{
        margin-right: 0px;
        margin-left: 0px;
 }
h5{ 
margin-top: 2%;
font-family: $moncerrat;
font-style: normal;
font-weight: bolder;
font-size: 2.2rem;
line-height: 2.7rem;
color: #1A1A1A;
}
.bg-primary {
    background-color: #3A80BA!important;
}

}
table{
  border-radius: 2.2rem;
}
.table{
  border-radius: 2.2rem;
    .thead-dark{
         th {
          
   color: #fff;
   background-color: #3A80BA;
   border-color: #fff;
   a {
    text-decoration: none;
   }
           }
       }
       a{
        text-decoration: none;
       }
   }

   .arrow-p {
       align-content: center;
   }
   i {
  position: relative;
  border: solid rgb(221, 219, 219);
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 10px;
   }
   i:hover {
    border: solid #3A80BA;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
  }

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
@media screen and (max-width: 1024px) {
.container {
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 0px;
  margin-left: 0px;
}

}
@media screen and (max-width: 500px) {
  .pagination-lg .page-link {
    padding: .5rem 1rem;
    padding-top: 0.7rem;
    padding-right: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 0.7rem;
    font-size: 0.8rem;
    line-height: 1.2;
}
p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.nav-link {
  display: block;
  padding: .0.5rem 1rem;
  padding-top: 0.5rem;
  padding-right: 0.1rem;
  padding-bottom: 0.5rem;
  padding-left: 0.1rem;
  font-size: 0.8rem;
}
}